
.gameList_grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr) );
    grid-gap: 3rem;
    max-width: 1800px;
    margin:0 auto;
}

.game_grid{
    position: relative;
    border-radius: 50px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gameTitle_grid{
    display: flex;
    align-items: center;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 70px;
    background: rgba(0,0,0,0.6);
    color: white;
    letter-spacing: 3px;
    padding: 0 50px ;
}

.loading_div{
    display: flex;
    justify-content: center;
}
.loader {
    margin-top: 100px;
    border: 10px solid transparent; /* Light grey */
    border-top: 10px solid gray; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (max-width: 847px){
    .game_grid{
        height: 500px;
    }
}

