
.main__container {
    max-width: 1800px;
    margin: 0 auto 50px auto;
    background: #222222;
    padding: 0 clamp(10px, 3.5vw, 150px);
}

.header__menu {
    position: relative;
}

.header__title {
    color: white;
    text-decoration: none;
    font-size: 35px;
}

.dropdown__button {
    cursor: pointer;
    color: gray;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 4px;
}

.dropdown__button:hover {
    color: white;
}

.dropdown__overlay:hover ~ .dropdown__button {
    color: white;
}

.dropdown__overlay {
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    top: 20px;
    left: -35px;
    right: -35px;
    z-index: 40;

}

.dropdown__overlay:hover {
    opacity: 1;
    pointer-events: all;
}

.header__menu:hover .dropdown__overlay {
    opacity: 1;
    pointer-events: all;
}

.category__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 10px;
    z-index: 30;
    overflow: hidden;


}

.category__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    background: #222222;
}

.category__list li:hover {
    background: gray;
}


/*Left Section Header*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 0 5rem 0;
}

.header__navbar {
    display: flex;
    align-items: center;
}

.header__navbar h1 {
    margin-right: 2rem;
}

/*Right Section Header*/
.header__searchbar {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.header__searchbar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.header__searchbar button {
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    border: 1px solid #28a745;
    background: transparent;
    color: #28a745;
    border-radius: 5px;
    cursor: pointer;
}

.header__searchbar button:active {
    scale: 1.05;
}
.header__searchbar a{
    font-weight: 500;
    font-size: 15px;
    margin-top: 3px;
    white-space: nowrap;
    transition: .2s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.header__searchbar a:hover{
    border-color: white;
}

